

.titulo{
    text-align: center;
    text-justify: auto;
    
}

html {
    font-family: 'Lato';
    text-align: justify;
    font-size: 1.25em;
    margin: 20px;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  h3 {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  .ResultadoResult{
    border: none;
    border-bottom: 2px solid rgb(255, 72, 0); 
    margin-left: 15px;
    outline: none;
    color: rgb(235, 6, 44);
  }
  .ResultadoText{
      color: blue;
  }

  #texto span
  {
      text-decoration:underline;
      background-color:yellow;    
  }

  textarea{  
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    padding:10px;
    width:250px;
    font-size:14px;
    margin:50px auto;
    display:block;
    border-radius:10px;
    border:6px solid #556677;
  }



  .css-button3d {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
  }
  .css-button3d:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .css-button3d:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }