

.titulo{
    text-align: center;
    text-justify: auto;
    
}

html {
    font-family: 'Lato';
    text-align: justify;
    font-size: 1.25em;
    margin: 20px;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  h3 {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  .ResultadoResult{
    border: none;
    border-bottom: 2px solid rgb(255, 72, 0); 
    margin-left: 15px;
    outline: none;
    color: rgb(235, 6, 44);
  }
  .ResultadoText{
      color: blue;
  }